*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
}

.container{
    display:flex;
    width:100%;
    height:100vh;
    position:relative;
}

/* LEFT SIDE */

.left{
    width:50%;
    background:#f4f4f4;
    position:relative;
}

.logo{
    position:absolute;
    top:40px;
    left:50px;
    color:#0b2b23;
}

.search-box{
    position:absolute;
    top:40px;
    left:250px;
}

.search-box input{
    width:350px;
    padding:15px;
    border:none;
    border-radius:30px;
    background:#e9e9e9;
}

.vertical-text{
    position:absolute;
    left:40px;
    top:350px;
    transform:rotate(-90deg);
    font-size:70px;
    color:#0b2b23;
}

.classification{
    position:absolute;
    top:220px;
    left:280px;
}

.item{
    margin-bottom:30px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
    width:220px;
}

.item h3{
    margin-bottom:5px;
}

/* RIGHT SIDE */

.right{
    width:50%;
    background:#c63227;
    color:white;
    position:relative;
}

nav{
    display:flex;
    justify-content:center;
    gap:60px;
    margin-top:50px;
}

nav a{
    color:white;
    text-decoration:none;
}

.content{
    position:absolute;
    top:180px;
    right:100px;
}

.content h1{
    font-size:70px;
    font-family:Georgia, serif;
    margin-bottom:30px;
}

.details{
    margin-bottom:40px;
}

.details p{
    margin-bottom:15px;
}

.content h2{
    color:#f9d29d;
    font-size:60px;
    margin-bottom:30px;
}

label{
    display:block;
    margin-bottom:20px;
    font-size:20px;
}

button{
    margin-top:20px;
    padding:18px 40px;
    border:none;
    border-radius:10px;
    background:#ead1a1;
    font-size:24px;
    cursor:pointer;
}

/* CENTER IMAGE */

.center-image{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

}

.glass{
    width:380px;
    height:550px;
    border:8px solid rgba(255,255,255,0.5);
    border-radius:200px 200px 40px 40px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(5px);
    display:flex;
    justify-content:center;
    align-items:center;
}

.glass img{
    width:220px;
}