*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins,sans-serif;
background:#f5f1ea;
padding:20px;
}

.wrapper{
background:#fff;
border-radius:40px;
padding:30px 50px;
overflow:hidden;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:70px;
}

nav{
display:flex;
gap:45px;
font-weight:600;
}

nav a{
cursor:pointer;
}

.active{
color:#18754c;
position:relative;
}

.active::after{
content:"";
width:30px;
height:4px;
background:#18754c;
position:absolute;
bottom:-10px;
left:0;
border-radius:5px;
}

.search-box{
width:370px;
height:60px;
border:2px solid #ccc;
border-radius:50px;
display:flex;
align-items:center;
padding:0 20px;
gap:15px;
}

.search-box input{
flex:1;
border:none;
outline:none;
}

.cart{
position:relative;
}

.cart span{
position:absolute;
top:-12px;
right:-12px;
width:24px;
height:24px;
background:#ef3340;
color:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:12px;
}

/* HERO */

.hero{
display:grid;
grid-template-columns:1.2fr 1fr .8fr;
align-items:center;
margin-top:40px;
}

.badge{
display:inline-block;
padding:12px 25px;
border:2px solid #85a96b;
border-radius:50px;
color:#5a7f46;
margin-bottom:30px;
}

h1{
font-family:Oswald,sans-serif;
font-size:92px;
line-height:0.95;
font-weight:700;
}

h1 span{
color:#1f7a43;
}

.left p{
margin-top:25px;
color:#777;
font-size:24px;
max-width:500px;
}

.actions{
display:flex;
gap:25px;
margin-top:35px;
}

.cart-btn{
background:black;
color:white;
border:none;
padding:20px 35px;
border-radius:60px;
font-size:18px;
font-weight:600;
}

.quantity{
background:white;
box-shadow:0 15px 35px rgba(0,0,0,.1);
padding:20px 40px;
border-radius:60px;
display:flex;
gap:40px;
font-size:24px;
}

.features{
display:flex;
gap:40px;
margin-top:50px;
}

.features i{
font-size:28px;
margin-bottom:10px;
}

/* CENTER */

.center{
position:relative;
height:700px;
}

.circle{
position:absolute;
width:450px;
height:450px;
background:#dbe2c9;
border-radius:50%;
left:50%;
top:50%;
transform:translate(-50%,-50%);
opacity:.5;
}

.main-pack{
position:absolute;
width:400px;
left:50%;
top:50%;
border-radius: 50%;
transform:translate(-50%,-50%) rotate(-5deg);
z-index:5;
}

.sticker{
position:absolute;
z-index:10;
font-family:cursive;
box-shadow:0 15px 30px rgba(0,0,0,.2);
}

.yellow{
background:rgb(247, 196, 57);
padding:5px 10px;
font-size:58px;
transform:rotate(-7deg);
top:430px;
left:-100px;
border-radius:20px;
}

.red{
background:#ea2f44;
padding:10px 30px;
font-size:48px;
color:white;
transform:rotate(-7deg);
top:500px;
left:120px;
border-radius:20px;
}

/* RIGHT */

.right{
display:flex;
flex-direction:column;
gap:60px;
}

.feature-card{
display:flex;
gap:20px;
}

.icon{
width:75px;
height:75px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
}

.green{background:#13784d;color:white;}
.red2{background:#ef3340;color:white;}
.orange{background:#f4b32a;}

/* PRODUCTS */

.products{
margin-top:40px;
background:#0f7246;
border-radius:40px;
padding:40px;
display:flex;
align-items:center;
gap:30px;
}

.flavour-title{
width:250px;
color:white;
}

.flavour-title h2{
font-family:Oswald,sans-serif;
font-size:52px;
line-height:1;
}

.arrows{
display:flex;
gap:15px;
margin-top:30px;
}

.arrows button{
width:60px;
height:60px;
border:none;
border-radius:50%;
font-size:24px;
}

.product{
background:white;
border-radius:25px;
padding:20px;
width:330px;
display:flex;
align-items:center;
gap:15px;
}

.product img{
width:120px;
}

.product h3{
font-size:22px;
margin-bottom:10px;
}

.product p{
font-size:32px;
font-weight:700;
margin-bottom:15px;
}

.product button{
background:#ef3340;
color:white;
border:none;
padding:12px 20px;
border-radius:30px;
}